
!.vscode/extensions.json
# Editor directories and files
# Logs
*.bak-*
*.db
*.db-shm
*.db-wal
*.key
*.local
*.log
*.njsproj
*.ntvs*
*.pem
*.sln
*.sqlite
*.sqlite3
*.suo
*.sw?
.DS_Store
.env
.env.*
.idea
.vscode/*
backups/
dist
dist-ssr
lerna-debug.log*
logs
node_modules
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
